version: "3.9"

services:
  web:
    build: .
    container_name: gerenciamento_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres:16
    container_name: gerenciamento_bd
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: gerenciamento_db
      POSTGRES_USER: gerenciamento_user
      POSTGRES_PASSWORD: gerenciamento_pass

volumes:
  postgres_data: